@page "/"

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@using DinnerMe.Model;


<PageTitle>This weeks dinner selection</PageTitle>

<h1>The menu for the week will go here :-)</h1>

